:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}

/* =======// Top header //======= */

.logo {
  width: 160px;
}
.searchBox {
  background-color: var(--bg-color);
  border: 1px solid var(--main-color);
}
.searchInp {
  padding: 5px 15px 5px 20px;
  background: var(--bg-color);
}
.searchBtn {
  background-color: var(--main-color);
}
.icon {
  position: relative;
  cursor: pointer;
}
.count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: var(--main-color);
  color: var(--white-color);
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

/* =======// Top header //======= */

/* ========// Bottom header //======= */

/* ========// Bottom header //======= */
.bottomHeader {
  background: var(--main-color);
}
.categoryBtnParagraph {
  color: var(--white-color);
  font-weight: 700;
  font-size: 15px;
}
.navLink {
  color: var(--white-color);
  font-weight: 700;
  opacity: 0.9;
  transition: 0.4s ease-in-out;
  padding: 1rem;
}
.navLink:hover, .activeNavLink {
  opacity: 1;
  scale: 1.1;
}
.icon {
  font-weight: bold;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.icon:hover {
  opacity: 1;
  scale: 1.1;
}
.menuToggle {
  display: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.menuToggle:hover {
  rotate: 180deg;
}
.categoryList {
  transition: .3s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.active {
  transition: .3s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

@media screen and (max-width: 950px) {
  .navLinks {
    display: none;
  }
  .menuToggle {
    display: block;
  }
}